* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  header {
    position: relative;
  }
  
  #toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    background-color: #eee2df;
  }
  
  .toolbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    padding: 0 20px;
  }
  
  .logo {
    color: white;
    font-size: 24px;
    text-decoration: none;
  }
  
  .menu {
    display: flex;
    list-style-type: none;
  }
  
  .menu li {
    position: relative;
    margin: 0 15px;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease;
  }
  
  .menu a:hover {
    transform: scale(1.2);
  }
  
  
  #hero {
    background-image: url('photos/emily/hero.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
  }
  
  .scroll-section {
    margin: 100px 0;
    opacity: 0;
    transition: opacity 1s ease;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  #carousel-info-wrapper {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0;
  }
  
  #carousel-section {
    width: 100%;
    max-width: 600px; /* Set a maximum width for the carousel */
  }
  
  #carousel {
    position: relative;
    padding-top: 133.33%; /* Adjust this value based on the aspect ratio of your vertical photos, e.g., 4:3 aspect ratio = 133.33% */
    overflow: hidden;
  }
  
  .carousel-slide {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 4s ease forward;
  }
  
  .carousel-slide:first-child {
    left: 0;
  }
  
  #photographer-info {
    width: 100%;
    max-width: 600px; /* Set a maximum width for the photographer's information */
    text-align: center;
    margin-top: 20px;
  }
  
  #photographer-info h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  #photographer-info p {
    font-size: 18px;
    line-height: 1.6;
  }

  #photo-gallery {
    margin: 100px 0;
  }
  
  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .photo {
    width: calc(33.33% - 20px);
    padding-top: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  @media screen and (max-width: 768px) {
    .photo {
      width: calc(50% - 20px);
    }
  }
  
  @media screen and (max-width: 480px) {
    .photo {
      width: 100%;
    }
  }

  
  #cta {
    position: relative;
    height: 400px;
  }
  
  .cta-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }
  
  .cta-container h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #555;
  }
  

  footer {
    background-color: #333;
    padding: 20px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-link {
    display: inline-block;
    color: white;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .social-link:hover {
    color: #555;
  }
  
  