* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #eee2df !important;
}

header::after {
  content: '';
  display: table;
  clear: both;
}


nav {
  float: center;
  height: 90px;
  max-height: 90px;
}

.nav-links {
  background-color: #eee2df !important;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 95px;
  float: left;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  display: inline-block;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  position: relative;
}

nav a {
  color: #1b1b1e;
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
}

/*When the mouse hovers over the different pages in the nav bar*/
nav a:hover {
  color: #6B705C;
  transition: all ease-in-out 250ms;
}

/*When the mouse hovers over the logo*/
.logo:hover {
  transition: all ease-in-out 250ms;
  /*change color when hovered over*/
}

.nav-links {
  background-color: #eee2df !important;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav-list a:hover::before{
  width: 100%;

}

/*The current "page" via the nav bar */
.active {
  color: #6B705C;
}

/*This down to the @media for phone compatability*/
.menu{
  display: none;
}

.menu-line {
  width: 20px;
  height: 3px;
  background-color: #6B705C;
  margin-bottom: 4px;
}

#toolbar {
  position: absolute;
  height: 90px;
  width: 100vw;
  background-color: #eee2df;
}

.toolbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 5%;
}

.logo {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.menu {
  display: flex;
  list-style-type: none;
}

.menu li {
  position: relative;
  margin: 0 15px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s ease;
}

.menu a:hover {
  transform: scale(1.2);
}


/*Adjust nav bar for phone compatablility*/
@media all and (max-width: 480px) {
  .nav-links {
    flex-direction: column;
  }
  .media {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
  }
}


#hero {
  background-image: url('photos/emily/hero.jpg');
  background-position: center;
  background-size: cover;
  color: #eee2df; 
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 5%;
  font-family: 'Roboto Slab';
}

.scroll-section {
  margin: 100px 0;
  opacity: 0;
  transition: opacity 1s ease;
}

/*The photos slide & text right under the hero */

#carousel-info-wrapper {
  display: flex;
  flex-direction:row;
  justify-content:  space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 65vw;
}

/*The image */
#carousel-section {
  width: 50%;
  max-width: 40%; /* Set a maximum width for the carousel */
}

#carousel {
  position: relative;
  padding-top: 133.33%; /* Adjust this value based on the aspect ratio of your vertical photos, e.g., 4:3 aspect ratio = 133.33% */
  overflow: hidden;
    z-index: 1;
}

.carousel-slide {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 4s ease forward;
  border-radius: 10%;
}

.carousel-slide:first-child {
  left: 0;
}
/************/

/*"here to capture your special moments... */
#right-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

#special-moments {
  display: flex;
  flex-direction: column;
  background-color: #6B705C;
  border-radius: 10%;
  width: 60%;
}

#photographer-info {
  width: 100%;
  max-width: 600px; /* Set a maximum width for the photographer's information */
  text-align: center;
  margin-top: 20px;
  padding-top: 5%;
}

#photographer-info h2 {
  font-family: "monument extended";
  font-size: 200%;
  text-transform: uppercase;
  letter-spacing: 2.75px;
  position: relative;
  text-align: center;
  line-height: 1.5;
  padding-bottom: 5%;
  color: #eee2df;
}

#photographer-info h3 {
  font-family: "Trocchi";
  font-size: 100%;
  line-height: 1.5;
}

#photo-gallery {
  margin: 100px 0;
}

#picture3 {
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  width: 50%;
}
/**********/
/*button*/

.button1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.btn1 {
  text-decoration: none;
  padding: 12px 20px;
  margin: 10px;
  font-size: 1.25rem;
  position: center;
  background: #eee2df;
  color: #6B705C;
  transform: transform 0.3s ease;
  width: 300px;
  font-size: 38px;
}

.btn1::after, .btn1::before {
  content: '';
  position: absolute;
  opacity: 0.3;
  background: #eee2df;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 0.3s ease;
}

.btn1:hover {
  transform: translate(-12px, -12px);
}

.btn1:hover::after {
  transform: translate(6px, 6px);
}

.btn1:hover::before {
  transform: translate(12px, 12px);
}

/***************************************************/

/**********/

/* Five photo carousel */
.carousel2-wrapper {
display: flex;
justify-content: center;
align-items: center;
width: 100vw;
height: 80%;
}

.carousel2 {
position: relative;
max-width: 1500px;
overflow: hidden; /* Hide the images that slide out of frame */
margin: 0 auto;
}

.carousel2-slides {
display: flex;
transition: transform 0.5s;
}

.carousel2-slides img {
width: calc(100% / 5 - 10px); /* Display 5 images at a time with 10px space between them */
height: 90%;
object-fit: cover;
object-position: center;
margin-right: 10px; /* Add space between the images */
}

.carousel2-slides img:last-child {
margin-right: 0; /* Remove margin from the last image */
}
/*************************/



/* Testimonials */
#testimonials {
text-align: center;
padding: 2rem 0;
background-color: #6B705C;
width: 100vw;
display: flex;
justify-content: center;
align-items: center;

}

.testimonials-container {
position: relative;
display: inline-block;
}

.testimonials-container  h2{
color: #eee2df;
font-size: medium;
letter-spacing: 1px;
text-transform: lowercase;
}

.testimonials-container  h3{
color: #eee2df;
font-size: large;
}

.testimonial-slide {
display: none;
}

.testimonial-slide.active {
display: block;
}

.arrow {
position: absolute;
top: 50%;
transform: translateY(-50%);
background-color: transparent;
border: none;
font-size: 2rem;
cursor: pointer;
}

.prev {
left: -2rem;
}

.next {
right: -2rem;
}

/*******************/



/*The "lets work together" */
#cta {
  position: relative;
  height: 400px;
  color:#eee2df;
  width: 100vw;
  height: 50vw;
}

.cta-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.cta-container h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #555;
}
/********/


/* Footer */
footer {
  background-color: #eee2df;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link {
  display: inline-block;
  color: white;
  font-size: 24px;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-link:hover {
  color: white;
}
/***************/
