
* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #84a59d;
}

.scroll-section {
  margin: 100px 0;
  opacity: 0;
  transition: opacity 1s ease;
}

/*The photos slide & text right under the hero */

#carousel-info-wrapper {
  display: flex;
  flex-direction:row;
  justify-content:  space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: #005f73;
  width: 100vw;
}


/*The image */
#carousel-section {
  width: 50%;
  max-width: 100%; /* Set a maximum width for the carousel */
}

#carousel {
  position: relative;
  padding-top: 100%; /* Adjust this value based on the aspect ratio of your vertical photos, e.g., 4:3 aspect ratio = 133.33% */
  overflow: hidden;
    z-index: 1;
    border: #e0e1dd 5px solid;
}

.lmm h1 {
  padding-top: 10%;
  color: #adb5bd;
}

.carousel-slide {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 4s ease forward;

}

.carousel-slide:first-child {
  left: 0;
}

/************/

#right-row {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  padding: 4%;
}

.box p {
  margin-bottom: 4%;
}

.box p {
  color: #e0e1dd;
  padding-bottom: 3%;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5vw; /* Adjust the font size using viewport width */
  letter-spacing: 0.25px;
  padding-left: 3%;
  padding-right: 3%;
}

.hoverButton1 {
  padding: 2% 4%; /* Adjust the padding as desired */
  background-color: #84a59d;
  color: #e0e1dd;
  font-size: 3.5vw; 
  font-family: 'Jura', sans-serif;
  text-align: center;
  text-decoration: none;
  border: #e0e1dd 3px solid;
  width: 80%; /* Set the button width to 100% */
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* Centering */
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.hoverButton1:hover {
  border: #e0e1dd 3px solid;
  background-color: #005f73;
  color: #e0e1dd;
}
/******************/

/******************/

/* Five photo carousel */
.carousel2-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding-left: 0.25%;
  height: auto;
}

.carousel2 {
  position: relative;
  max-width: 1500px;
  overflow: hidden;
  background-color: #84a59d;
}

.carousel2-slides {
  display: flex;
  transition: transform 0.5s;
  height: auto; /* Switching from fixed to auto height */
}

.carousel2-slides img {
  width: 100%; /* Initially set the width of images to 100% */
  height: auto; /* Changing height to auto for aspect ratio */
  object-fit: cover;
  object-position: center;
  margin-right: 10px; /* Add space between the images */
}

.carousel2-slides img:last-child {
  margin-right: 0; /* Remove margin from the last image */
}

/* Media queries */

@media (min-width: 600px) { /* For viewports larger than 600px */
  .carousel2-slides img {
    width: calc(100% / 3 - 10px); /* Display 3 images at a time with 10px space between them */
  }
}

@media (min-width: 900px) { /* For viewports larger than 900px */
  .carousel2-slides img {
    width: calc(100% / 5 - 10px); /* Display 5 images at a time with 10px space between them */
  }
}

/*************************/


/* Testimonials */
#testimonials {
  text-align: center;
  background-color: #84a59d;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .testimonials-container {
  position: relative;
  width: 100%;
  margin: auto;
  }
  
  .testimonial-images {
    display: flex;
    justify-content: center; /* Align images horizontally center */
    gap: 2rem; /* Add some gap between images */
    padding-top: 3%;
  }
  
  .testimonial-images img {
    border-radius: 50%; /* Make images circular */
    width: 200px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    object-fit: cover; /* To maintain aspect ratio of the images */
    border: 2px solid #e0e1dd;
  }
  
  
  .testimonials-container  h2{
  color: #e0e1dd;
  font-size: x-large;
  letter-spacing: 0.25px;
  padding-left: 3%;
  padding-right: 3%;
  line-height: 200%;
  }
  
  .testimonials-container h3{
    color: #005f73;
  font-size: x-large;
  letter-spacing: 0.25px;
  padding-left: 3%;
  padding-right: 3%;
  line-height: 200%;
    
  }
  
  .testimonial-slide {
  display: none;
  }
  
  .testimonial-slide.active {
  display: block;
  }
  
  .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #005f73;
  }
  
  .prev {
  left: 1rem;
  z-index: 2;
  }
  
  .next {
  right: 1rem;
  z-index: 1;
  }

/*******************/

/* Hi im leah */
.main-container {
  background-color: #84a59d;
  width: 100vw;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center; /* centers items with space around them */
  padding-top: 10%;
  padding-bottom: 10%;
  position: relative; /* add relative position here */
}

.text-container {
  display: flex;
  background-color: #005f73;
  width: 80vw; /* adjust width as needed */
  height: auto;
  text-align: left; /* Align text to the left */
  justify-content: flex-start; /* Aligns items to the start of the main axis */
  padding: 1rem; /* Add padding to give text some room */
  z-index: 1;
}

.text-container h2 {
  font-size: 4vw;
  padding-right: 40%;
  padding-bottom: 2%;
  color: #e0e1dd;
}

.text-container p {
  font-size: 2vw;
  padding-right: 35%;
  padding-left: 5%;
  color: #e0e1dd;
  font-family: 'Jura', sans-serif;
  font-weight: 1;
}

.image-overlay {
  position: absolute;
  bottom: 5%; /* adjust as needed */
  right: 11%; /* adjust as needed */
  width: 25vw; 
  height: auto;
  object-fit: cover;
  z-index: 2;
  border: #e0e1dd 3px solid;
}


/*****/

/*The "lets work together" */
#cta {
  position: relative;
  height: 400px;
  width: 100vw;
  height: 70vw;
}

.cta-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.cta-container h2 {
  font-size: 200%;
  margin-bottom: 5%;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
}

/* Button */
.hoverButton {
  padding: 2% 4%; /* Adjust the padding as desired */
  background-color: #84a59d;
  color: #e0e1dd;
  font-size: 3vw; 
  font-family: 'Jura', sans-serif;
  text-align: center;
  text-decoration: none;
  border: #e0e1dd 3px solid;
  width: 40%; /* Set the button width to 100% */
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* Centering */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hoverButton:hover {
background-color: #005f73;
    color: #e0e1dd;
}
/******************/

/********/


/* Footer */
footer {
  background-color: #eee2df;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link {
  display: inline-block;
  color: white;
  font-size: 24px;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-link:hover {
  color: white;
}
/***************/

