html, body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #6B705C !important;
  width: 100%;
  height: 1600px;
}

/*****************Movement of the page ******************/
body {
  box-sizing: border-box;
  padding: 0 120px;
  overflow-x: hidden;
}

.content {
  width: 70%;
  margin: auto;
}

.container {
  margin: 0px 0;
}

.index1 {
  display: grid;
  align-items: center; 
  grid-template-columns: 3fr 2fr 3fr;
  column-gap: 30px;
}

h1 {
  text-transform: uppercase;
  color: #dad7cd;
  font-family: "Monument Extended";
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 1.4px;
  padding: 10px 0;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: #dad7cd;
}

.text {
  color: transparent;
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition: 0.8s;
}
.text.reveal {
  color: #dad7cd;
  animation: revealTextAnimation 0.64s ease forwards;
}
.text:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  /*   z-index: 1; */
}
.text.reveal:before {
  background: #6B705C;
  animation: blockRevealAnimation 0.8s ease forwards;
}

.img {
  position: relative;
  display: block;
  overflow: hidden;
}

.img img {
  max-width: 100%;
  opacity: 0;
}

.img:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.img.reveal:before {
  background: #6B705C;
  animation: blockRevealAnimation 0.8s ease forwards;
}

.img.reveal img {
  animation: revealImgAnimation 0.8s ease forwards;
}

@keyframes blockRevealAnimation {
  0% {
      top: -100%;
  }
  40% {
      top: 0;
  }
  60% {
      top: 0;
  }
  100% {
      top: 100%;
  }
}
@keyframes revealTextAnimation {
  0% {
      color: transparent;
  }
  40% {
      color: transparent;
  }
  60% {
      color: #6B705C;
  }
}
@keyframes revealImgAnimation {
  0% {
      opacity: 0;
  }
  60% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@media (max-width: 990px) {
  .content {
      width: 100%;
  }
  h1 {
      font-size: 20px;
  }
  p {
      font-size: 16px;
  }
}

/***************************************************/

/*****************Nav Bar ************************/

header {
  background-color: #6B705C !important;
}

header::after {
  content: '';
  display: table;
  clear: both;
}


nav {
  padding: 10px;
  float: center;
  height: 90px;
  max-height: 90px;
}

.nav-links {
  background-color: #6B705C !important;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  height: 95px;
  float: left;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  display: inline-block;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  position: relative;
}

nav a {
  color: #1b1b1e;
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
}

/*When the mouse hovers over the different pages in the nav bar*/
nav a:hover {
  color: #dad7cd;
  transition: all ease-in-out 250ms;
}

/*When the mouse hovers over the logo*/
.logo:hover {
  transition: all ease-in-out 250ms;
  /*change color when hovered over*/
}

.nav a::before {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-color: #eddcd2;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}


.nav-list a:hover::before{
  width: 100%;
}

/*The current "page" via the nav bar */
.active {
  color: #dad7cd;
}

/*This down to the @media for phone compatability*/
.menu{
  display: none;
}

.menu-line {
  width: 20px;
  height: 3px;
  background-color: white;
  margin-bottom: 4px;
}

/*Adjust nav bar for phone compatablility*/
@media all and (max-width: 480px) {
  .nav-links {
    flex-direction: column;
  }
  .media {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
  }
}

/***************************************************/

/*************Sliding image gallery **************/

.gallery-container {
  width: 100%;
  overflow: hidden;
}

.gallery {
  display: flex;
  transition: transform 2s ease;
}

.gallery img {
  width: 100%;
  height: auto;
}
/***************************************************/

main {
  margin: 20px;
}


footer {
  background-color: #6B705C;
  color: #eddcd2;
  text-align: center;
  position:absolute;
  width:100%;
  height:100px;
}
