/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap");

/* Resets */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* Variables */
:root {
  --primary: #0a1733;
  --secondary: #ffffff;
  --bg: #fbfffe;
}

/* Base Styles */
body {
  background-color: var(--bg);
  color: var(--primary);
}

img {
  max-width: 100%;
}

span {
  display: block;
}

main .left .text h1 {
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 400;
  line-height: 96%;
  text-align: center;
}

main .left .text h1 span {
  font-weight: 700;
}

main .left .text p {
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  text-align: center;
  letter-spacing: -0.02em;
}

main .left .button {
  display: flex;
  align-items: center;
}

main .left .button a {
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.02em;

  color: var(--primary);
}

main .right {
  background-color: var(--primary);
  color: var(--secondary);
}

main .right .menu {
  display: flex;
  align-items: center;
  gap: 1rem;
}

main .right .menu a {
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 22px;
  text-align: right;
  letter-spacing: 0.1em;
  margin-left: auto;

  color: #ffffff;
}

main .right > p {
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.02em;
  opacity: 0.7;
}

main .right > p span {
  font-size: 14px;
  display: inline;
}

/* Mobile Styles */
main {
  display: flex;
  flex-direction: column;
}

main > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

main .right {
  order: -1;
}

main .right,
main .left {
  padding: 2.5rem;
}

main .left .text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

main .left .text h1 {
  font-size: 3rem;
}

main .left .button {
  border: 2px solid #0a1733;
  border-radius: 100px;
  padding: 1rem;
  gap: 1rem;
}

main .right .menu {
  align-self: flex-end;
}

main .right > p {
  align-self: flex-start;
}

/* Tablet Styles */
@media screen and (min-width: 690px) {
  main {
    flex-direction: row-reverse;
  }

  main > * {
    width: 100%;
  }
}

/* Laptop Styles */
@media screen and (min-width: 960px) {
  main .right,
  main .left {
    padding: 4.5rem;
  }

  main .left .text h1 {
    font-size: 4rem;
  }
}

/* Desktop Styles */
@media screen and (min-width: 1200px) {
  main .left .text h1 {
    font-size: 6rem;
  }
}